.todos__wrapper {
  height: 65vh;
  overflow: auto;

  .card {
    display: flex;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 25px;
    margin-bottom: 0.5rem;
    background: #021141;
    color: #fff;
    border-radius: 5px;
  }
}
